
$desktop-min: (min-width: 1200px);
$tablet-min: (min-width: 768px);
$mobile-min: (min-width: 480px);

$tablet-m: (max-width: 1199px);
$mobile-m: (max-width: 767px);
@import "./utils/breakpoints";
@import "./utils/variables";
@import "./utils/normalize";
@import "./components/global";
@import "./components/page-header";
@import "./components/hero";
@import "./components/feature";
@import "./components/specialization";
@import "./components/staff";
@import "./components/clients";
@import "./components/footer";
@import "./components/form";




