.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}
  .customer-list .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 90px;
  min-width: 210px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  fill: $accentColor;
  border-color: $accentColor;
  cursor: pointer;}

  @media screen and (max-width: 767px) {
  align-items: center;
  margin: 15px;
  width: calc((100% - 4 * 15px) / 2);
} 
@media screen and (min-width: 768px) {
  min-width: 226px;
}
@media screen and (min-width: 1200px) {
  min-width: 170px;
}}